.app {
    border-radius: 20px;
    margin-top: 20px;
    padding: 30px;
    background: #C0E7FF;
}

.app2 {
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
    background: #CAFFE8;
}